body{
    font-family: system-ui;
    text-align: center;
    /* Celestial gradients */
    background: linear-gradient(to bottom right, #C33764, #1D2671);
    margin-bottom: 50px;
    color: black;
}

ul{
    border: 2px solid black;
    margin: 30px;
    padding: 30px;
}

div{
    width: 80%;
    margin: auto;
}

button{
    height: 40px;
    width: 70px;
    border-radius: 5px;
    background-color: chartreuse;
}

p{
   
    margin: 1px auto;
    padding: 0.5rem;
    border: 1px solid #000;
    border-radius: 0.5rem;
  
    /* Luscious Lime gradients */
    /* background: linear-gradient(to bottom right, #009245, #FCEE21); */
    background: linear-gradient(to top, #dfe9f3 0%, white 100%);
    color: black;
}

